body {
	/* Primary colors */
	--color_primary: rgb(255, 255, 255);
	--color_accent: rgb(0, 188, 212);
	--color_positive: rgb(76, 175, 80);
	--color_negative: rgb(244, 67, 54);


	/* Background colors */
	--color_background: rgb(255, 255, 255);
	--color_background_light: rgb(244, 244, 244);
	--color_background_strong: rgb(236, 236, 236);

	--color_background_dialog_overlay: rgba(0, 0, 0, 0.2);
	--color_background_loading_overlay: rgba(255, 255, 255, 0.6);


	/* Content colors */
	--color_content: rgb(32, 32, 32);
	--color_content_light: rgb(96, 96, 96);
	--color_content_faded: rgb(127, 127, 127);
	--color_content_pop: rgb(248, 248, 248);


	/* Control colors */
	--color_control: rgb(0, 188, 212);
	--color_control_pop: rgb(255, 255, 255);

	--color_control_inactive: rgb(127, 127, 127);
	--color_control_overlay: rgba(0, 0, 0, 0.05);

	--color_control_highlight: rgba(0, 188, 212, 0.25);
	--color_control_highlight_pop: rgba(255, 255, 255, 0.4);

	--color_control_window: rgb(208, 208, 208);
	--color_control_window_close: rgb(247, 72, 59);
	--color_control_window_highligh: rgba(0, 0, 0, 0.5);


	/* Shadow colors */
	--color_shadow: rgba(0, 0, 0, 0.2);
}

body *.positive {
	--color_control_positive: rgb(76, 175, 80);
	--color_control_highlight_positive: rgba(76, 175, 80, 0.25);
}

body *.negative {
	--color_control_negative: rgb(244, 67, 54);
	--color_control_highlight_negative: rgba(244, 67, 54, 0.25);
}
