body {

	/* Window control */
	--window_control_z_index: 32;
	--window_control_padding: 8px;
	--window_control_spacing: 8px;
	--window_control_button_size: 12px;
	--window_control_button_padding: 2px;
	--window_control_resize_region_size: 5px;

	/* Button */
	--button_z_index: 2;
	--button_size: 36px;
	--button_padding: 16px;
	--button_corner_radius: 5px;

	/* Selectable */
	--selectable_corner_radius: 5px;

	/* FAB */
	--fab_z_index: 12;

		/* Normal */
		--fab_normal_size: 56px;
		--fab_normal_corner_radius: 28px;

		/* Large */
		--fab_large_size: 84px;
		--fab_large_corner_radius: 42px;

	/* Screens */

		/* Home */
		--home_padding: 32px;
		--home_spacing: 32px;

		/* Test */
		--test_padding: 32px;
		--test_spacing: 32px;

			/* Face Scale Question */
			--face_scale_face_margin: 8px;

			/* IAPS Question */
			--iaps_image_corner_radius: 8px;
			--iaps_mood_select_width: 200px;
			--iaps_mood_rating_margin: 8px;
			--iaps_mood_rating_description_spacing: 24px;
}