body {

	/* Home Screen */
	--home_cards_padding: 36px;
	--home_cards_spacing: 48px;

	--home_card_width: 300px;
	--home_card_height: 300px;
	--home_card_text_size: 16px;
	--home_card_title_size: 24px;
	--home_card_padding: 16px;
	--home_card_spacing: 12px;

	--home_terms_max_width: 500px;
	--home_terms_text_size: 16px;
	--home_terms_title_size: 32px;
	--home_terms_padding: 64px;
	--home_terms_spacing: 32px;

	--home_settings_padding: 32px;
	--home_settings_spacing: 24px;
	--home_settings_height: 88px;

	/* Test Screen */
	--test_padding: 32px;
	--test_spacing: 32px;

		/* Face Scale Question */
		--face_scale_face_margin: 16px;

		/* IAPS Question */
		--iaps_image_corner_radius: 8px;
		--iaps_mood_select_width: 200px;
		--iaps_mood_rating_margin: 8px;
		--iaps_mood_rating_description_spacing: 24px;
}