body {

	/* Home Screen */
	--home_options_width: 360px;
	--home_padding: 32px;
	--home_spacing: 16px;

	/* Test Screen */
	--test_padding: 32px;
	--test_spacing: 32px;

		/* Face Scale Question */
		--face_scale_face_margin: 16px;

		/* IAPS Question */
		--iaps_image_corner_radius: 8px;
		--iaps_mood_select_width: 200px;
		--iaps_mood_rating_margin: 8px;
		--iaps_mood_rating_description_spacing: 24px;
}