.page-enter-active,
.page-leave-active {
	transition: all 0.5s;
}

.page-enter {
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
	transform: translateY(50%);
}

.page-enter-to {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.page-leave-to {
	filter: brightness(0.85);
}