* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
	background: none;
	border: none;
	outline: none;
}

html,
body {
	color: var(--color_on_surface);
	fill: var(--color_on_surface);
	font-family: GoogleSans, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;

	user-select: none;
	-webkit-app-region: drag;
}

a, button, textarea, input, label {
	-webkit-app-region: no-drag;
}

img {
	-webkit-user-drag: none;
}

p, a, button, textarea, input, label, h1, h2, h3, h4, h5, h6, li {
	color: var(--color_on_surface);
	font-family: GoogleSans, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}
