* {
	position: relative;
	margin: 0;
	box-sizing: border-box;

	padding: 0;

	background: none;
	border: none;
	outline: none;

	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

html,
body {
	width: 100%;
	height: 100%;

	overflow: hidden;

	color: var(--color_on_surface);
	fill: var(--color_on_surface);
	font-family: GoogleSans, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}

img {
	-webkit-user-drag: none;
}

p, a, button, textarea, input, label, h1, h2, h3, h4, h5, h6, li {
	color: var(--color_on_surface);
	font-family: GoogleSans, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}
