* {
	box-sizing: border-box;
	background: none;
	border: none;
	outline: none;
}

html,
body {
	color: var(--color_content);
	font-family: GoogleSans, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;

	user-select: none;
	-webkit-app-region: drag;
}

a, button, textarea, input {
	-webkit-app-region: no-drag;
}

img {
	-webkit-user-drag: none;
}

p, a, button, textarea, input, h1, h2, h3, h4, h5, h6, li {
	padding: 0;

	color: var(--color_content);
	font-family: GoogleSans, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}
