.button {
	z-index: 2;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	overflow: hidden;
}

.button:not(.flat) {
	box-shadow: 0 2px 6px var(--color_shadow);
}

.button > * {
	color: currentColor;
}

.button > .button_text {
	flex-grow: 1;

	font-weight: 500;
	text-align: center;
}

.button > .button_icon {
	flex-grow: 0;
}

/* Sizes */

.button {
	height: 36px;

	padding-left: 8px;
	padding-right: 8px;

	border-radius: 5px;
}

.button > .button_text {
	margin-right: 8px;
	margin-left: 8px;

	font-size: 14px;
}

.button > .button_icon {
	width: 24px;
	height: 24px;
}

.button.selectable:after {
	border-radius: 5px;
}

/* Colors */

.button {
	background: var(--color_control);
	color: var(--color_control_pop);
}

.button.selectable:after {
	background: var(--color_control_highlight_pop);
}

.button.light {
	background: var(--color_control_pop);
	color: var(--color_control);
}

.button.light.selectable:after {
	background: var(--color_control_highlight);
}