.button {
	z-index: var(--button_z_index);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	font-weight: 500;
	text-transform: uppercase;
	text-align: center;

	overflow: hidden;
}

.button:not(.flat) {
	box-shadow: 0 2px 6px var(--color_shadow);
}

.button * {
	color: currentColor;
}

/* Sizes */

.button {
	height: var(--button_size);

	padding-left: var(--button_padding);
	padding-right: var(--button_padding);

	border-radius: var(--button_corner_radius);
}

.button.with_icon {
	padding-left: var(--button_icon_padding);
}

.button.with_icon > .button_icon {
	margin-right: var(--button_icon_padding);
}

.button.selectable:after {
	border-radius: var(--button_corner_radius);
}

/* Colors */

.button {
	background: var(--color_control);
	color: var(--color_control_pop);
}

.button.positive {
	background: var(--color_control_positive);
}

.button.negative {
	background: var(--color_control_negative);
}

.button.selectable:after {
	background: var(--color_control_highlight_pop);
}

.button.light {
	background: var(--color_control_pop);
	color: var(--color_control);
}

.button.light.positive {
	color: var(--color_control_positive);
}

.button.light.negative {
	color: var(--color_control_negative);
}

.button.light.selectable:after {
	background: var(--color_control_highlight);
}

.button.light.positive.selectable:after {
	background: var(--color_control_highlight_positive);
}

.button.light.negative.selectable:after {
	background: var(--color_control_highlight_negative);
}