.fab {
	position: relative;
	z-index: 6;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	box-shadow: 0 4px 20px var(--color_shadow);

	user-select: none;
	-webkit-app-region: no-drag;
}

.fab::before {
	content: "";

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	transition: all 0.2s;
	pointer-events: none;
}

.fab > .fab_text {
	flex-grow: 1;

	font-weight: 500;
	text-align: center;
}

.fab > .fab_icon {
	flex-grow: 0;
}

/* Sizes */

.fab {
	min-width: 56px;
	height: 56px;

	padding-left: 12px;
	padding-right: 12px;

	border-radius: 28px;
}

.fab > .fab_text {
	margin-right: 12px;
	margin-left: 12px;

	font-size: 20px;
}

.fab > .fab_icon {
	margin-right: 4px;
	margin-left: 4px;

	width: 24px;
	height: 24px;
}

.fab::before {
	border-radius: 28px;
}

/* Colors */

.fab {
	background: var(--color_primary);
	color: var(--color_on_primary);
}

.fab > .fab_text {
	color: currentColor;
}

.fab > .fab_icon {
	color: currentColor;
}

.fab::before {
	background: var(--color_on_primary);
	opacity: 0;
}

.fab:hover::before {
	opacity: 0.3;
}

.fab:active::before {
	opacity: 0.5;
}