.fab {
	z-index: var(--fab_z_index);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	box-shadow: 0 4px 20px var(--color_shadow);

	overflow: hidden;
}

.fab * {
	color: currentColor;
}

/* Sizes */

.fab {
	min-width: var(--fab_normal_size);
	height: var(--fab_normal_size);

	border-radius: var(--fab_normal_corner_radius);
}

.fab *:first-child {
	margin-left: var(--fab_normal_padding);
}

.fab *:last-child {
	margin-right: var(--fab_normal_padding);
}

.fab.selectable:after {
	border-radius: var(--fab_normal_corner_radius);
}

.fab.large {
	min-width: var(--fab_large_size);
	height: var(--fab_large_size);

	border-radius: var(--fab_large_corner_radius);
}

.fab.large *:first-child {
	margin-left: var(--fab_large_padding);
}

.fab.large *:last-child {
	margin-right: var(--fab_large_padding);
}

.fab.large.selectable:after {
	border-radius: var(--fab_large_corner_radius);
}

/* Colors */

.fab {
	background: var(--color_control);
	color: var(--color_control_pop);
}

.fab.positive {
	background: var(--color_control_positive);
}

.fab.negative {
	background: var(--color_control_negative);
}

.fab.selectable:after {
	background: var(--color_control_highlight_pop);
}

.fab.light {
	background: var(--color_control_pop);
	color: var(--color_control);
}

.fab.light.positive {
	color: var(--color_control_positive);
}

.fab.light.negative {
	color: var(--color_control_negative);
}

.fab.light.selectable:after {
	background: var(--color_control_highlight);
}

.fab.light.positive.selectable:after {
	background: var(--color_control_highlight_positive);
}

.fab.light.negative.selectable:after {
	background: var(--color_control_highlight_negative);
}