/* TODO: Add child classes */

.fab {
	z-index: 12;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	box-shadow: 0 4px 20px var(--color_shadow);

	overflow: hidden;
}

.fab * {
	color: currentColor;
}

/* Sizes */

.fab {
	min-width: 56px;
	height: 56px;

	padding-left: 16px;
	padding-right: 16px;

	border-radius: 28px;
}

.fab.selectable:after {
	border-radius: 28px;
}

.fab.large {
	min-width: 84px;
	height: 84px;

	padding-left: 24px;
	padding-right: 24px;

	border-radius: 42px;
}

.fab.large.selectable:after {
	border-radius: 42px;
}

/* Colors */

.fab {
	background: var(--color_control);
	color: var(--color_control_pop);
}

.fab.selectable:after {
	background: var(--color_control_highlight_pop);
}

.fab.light {
	background: var(--color_control_pop);
	color: var(--color_control);
}

.fab.light.selectable:after {
	background: var(--color_control_highlight);
}