.selectable {
	position: relative;

	--highlight-color: var(--color_primary);

	user-select: none;
	-webkit-app-region: no-drag;
}

.selectable::before {
	content: "";

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background: var(--highlight-color);
	opacity: 0;

	border-radius: inherit;

	transition: opacity 0.2s;
	pointer-events: none;
}

.selectable:hover::before {
	opacity: 0.3;
}

.selectable:active::before {
	opacity: 0.5;
}
