.selectable {
	position: relative;

	user-select: none;
	-webkit-app-region: no-drag;
}

.selectable::after {
	content: "";

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	transition: opacity 0.2s;
	pointer-events: none;
}

/* Colors */

.selectable::after {
	background: var(--color_control_highlight);
	opacity: 0;
}

.selectable:hover::after {
	opacity: 0.5;
}

.selectable:active::after {
	opacity: 1;
}
