.selectable {
	position: relative;

	user-select: none;
	-webkit-app-region: no-drag;
}

.selectable::before {
	content: "";

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	transition: all 0.2s;
	pointer-events: none;
}

/* Colors */

.selectable::before {
	background: var(--color_primary);
	opacity: 0;
}

.selectable:hover::before {
	opacity: 0.3;
}

.selectable:active::before {
	opacity: 0.5;
}
