.tab {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	font-weight: 500;
	font-size: 20px;

	overflow: hidden;
}

.tab_indicator {
	transition: height 0.2s;
}

/* Sizes */

.tab {
	height: 42px;

	padding-left: 24px;
	padding-right: 24px;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.tab.selectable:after {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.tab_indicator {
	height: 0;

	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	background: var(--color_control);
}

.tab_indicator[selected] {
	height: 3px;
}

/* Colors */

.tab {
	color: var(--color_control_inactive);
}

.tab[selected] {
	color: var(--color_control);
}

.tab_indicator {
	background: var(--color_control);
}
