.textinput {
	position: relative;
	z-index: 2;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	border-style: none;

	overflow: hidden;
}

.textinput::after {
	content: "";

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	border-bottom-style: solid;

	pointer-events: none;
	transition: border 0.2s, opacity 0.2s;
}

.textinput.filled::before {
	content: "";

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	pointer-events: none;
}

.textinput.outlined::after {
	border-style: solid;
}

.textinput > .textinput_text {
	flex-grow: 1;

	font-weight: 500;
}

.textinput > .textinput_input {
	flex-grow: 1;
	align-self: stretch;

	font-weight: 500;
}

.textinput > .textinput_input::placeholder {
	transition: color 0.2s, opacity 0.2s;
}

/* Sizes */

.textinput {
	height: 56px;

	padding-left: 6px;
	padding-right: 6px;
}

.textinput::after {
	border-width: 2px;
}

.textinput.filled::before {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.textinput.outlined::after {
	border-radius: 5px;
}

.textinput > .textinput_text {
	margin-right: 6px;
	margin-left: 6px;

	font-size: 16px;
}

.textinput > .textinput_input {
	margin-right: 6px;
	margin-left: 6px;

	font-size: 16px;
}

.textinput > .textinput_icon {
	margin-right: 6px;
	margin-left: 6px;

	width: 24px;
	height: 24px;
}

/* Colors */

.textinput::after {
	border-color: var(--color_on_surface);
	opacity: 0.6;
}

.textinput:focus-within::after {
	border-color: var(--color_primary);
	opacity: 1;
}

.textinput:focus-within {
	border-color: var(--color_primary);
}

.textinput.outlined {
	background: transparent;
}

.textinput.filled::before {
	background: var(--color_on_surface);
	opacity: 0.08;
}

.textinput > .textinput_input {
	color: var(--color_on_surface);
}

.textinput > .textinput_icon {
	color: var(--color_on_surface);
}

.textinput > .textinput_input::placeholder {
	color: var(--color_on_surface);
	opacity: 0.6;
}

.textinput > .textinput_input:focus-within::placeholder {
	color: var(--color_primary);
	opacity: 1;
}