/* Sizes */

.textinput.filled::before {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/* Colors */

.textinput.filled::before {
	background: var(--color_on_surface);
	opacity: 0.08;
}