.window_control {
	z-index: 32;

	display: flex;
	padding: 8px;
	flex-direction: row-reverse;

	-webkit-app-region: no-drag;
}

.window_control > * {
	width: 12px;
	height: 12px;

	padding: 2px;

	fill: transparent;
	background: rgb(208, 208, 208);
	border-radius: 100%;
}

.window_control > *:not(:first-child) {
	margin-right: 8px;
}

.window_control > *:first-child {
	background: rgb(247, 72, 59);
}

.window_control:hover > * {
	fill: rgba(0, 0, 0, 0.5);
}

.window_control > *:active {
	box-shadow: 0 0 16px inset var(--color_shadow);
}

.window_resize_region {
	min-width: 5px;
	min-height: 5px;
	z-index: 32;

	opacity: 0;

	pointer-events: none;
	-webkit-app-region: no-drag;
}